[Desktop Entry]
Type=Application
Version=1.0
Name=Olympus
Comment=CrossCode Mod Manager
Exec=ccmodmanager %u
Icon=ccmodmanager
Terminal=false
Categories=Game;Application;
MimeType=x-scheme-handler/everest
